/* 작성자 : 조공윤 */
/* 포트폴리오 css파일 */

body {
  overflow-x: hidden;
}

/* 배경 */
body {
  background-image: url("/portfolio/img/bg3.png");

  background-repeat: repeat;
  background-size: 40%;

  background-color: rgba(246, 222, 222, 0.8);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none∂;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "NeoDunggeunmo";
  color: #0d0d0d;
  font-size: 1.3rem;
}

li {
  list-style: none;
}

/* common */
.fontcore {
  font-family: "coreRegular";
}

.nanum {
  font-family: "nanum";
}

.backcolor {
  background-color: black;
  color: #feee01;
}

.spanBox {
  text-align: start;
}

.aboutColor {
  background-color: #f07ef2;
}

.skillColor {
  background-color: #75dafe;
}

.popColor {
  background-color: #3d90d9;
}

.activityColor {
  background-color: #227337;
}

.lookColor {
  background-color: #babebf;
}

.popborder {
  border-bottom: 5px solid #222;
  border-radius: 14px 14px 0 0;
  padding-top: 0.5rem;
}

.skFull {
  display: block;
  width: 3rem;
  height: 1rem;
  background-color: #ffbf34;
  margin-right: 0.5rem;
}

.skEmpty {
  display: block;
  width: 3rem;
  height: 1rem;
  border: 1px solid #ffbf34;
  margin-right: 0.5rem;
}

.pop {
  position: absolute;
  width: 50vw;
  height: 33rem;
  border: 5px solid #222;
  border-radius: 20px;
  background-color: #eae6d6;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 10%;
}

.popColor2 {
  background-color: #f2059f;
}

.popColor4 {
  background-color: #f24405;
}

.popColor3 {
  background-color: #c7f229;
}

.spanBox span {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid transparent;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.spanBox span:nth-child(1) {
  background-color: #ed6a5e;
  margin-left: 1rem;
}

.spanBox span:nth-child(2) {
  background-color: #f4bf4f;
}

.spanBox span:nth-child(3) {
  background-color: #62c654;
}

/* 팝업화면 */
body.ofy {
  overflow-y: hidden;
}

#readyBox {
  position: relative;
  z-index: 200000;
  top: 1rem;
  height: 100vh;
  display: none;
}

#readyBox .hobbyImg {
  cursor: pointer;
}

#readyBox .look {
  width: 90vw;
  height: 90vh;
  background-image: url("/portfolio/img/macback2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dec1de;
}

#readyBox.openBox {
  display: block;
}

#readyBox .myName {
  margin: 1rem 0;
  color: white;
  font-size: 1.2rem;
  font-family: "coreMedium";
}

.look {
  margin: auto;
  width: 70%;
  height: 80vh;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  background-color: #f2a2c8;
}

#readyBox .clickAni {
  width: 5rem;
  margin: 0 auto;
  cursor: pointer;
  animation-name: baby;
  animation-delay: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes baby {
  0% {
    background-color: red;
    color: white;
  }

  50% {
    background-color: white;
    color: red;
  }

  to {
    background-color: red;
    color: white;
  }
}

#readyBox .tyPing {
  width: 33ch;
  animation: tyPing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2rem;
}

@keyframes tyPing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* 퀵 토글 */
#quick {
  position: fixed;
  line-height: 60px;
  right: 20px;
  bottom: 20px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.6s;
  z-index: 10;
}

#quick a i {
  font-size: 3rem;
  color: black;
}

#quick.on {
  height: 310px;
  display: flex;
  flex-direction: column-reverse;
  transition: 0.5s;
}

#quick .open > .xi-folder-add-o {
  display: none;
}

#quick .open > .xi-folder-remove-o {
  display: block;
}

#quick .xi-folder-remove-o {
  display: none;
}

#quick .xi-folder-add-o {
  display: block;
}

#quick > a {
  display: block;
}

#quick ul {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

/* HEADER(wrap) */

/* 스크롤 시 헤더숨기기 */
#hd {
  position: fixed;
  left: 0;
  right: 0;
  top: 2%;
  z-index: 1000;
  transition: 0.5s;
  border: 5px solid #222;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  line-height: 3;
}

#allMenu {
  border: transparent;
  background-color: transparent;
  font-size: 2rem;
}

#hd.up {
  transform: translateY(-150%);
}

#hd h1 a {
  color: black;
}

#gnb a {
  display: block;
  color: black;
  text-decoration: none;
}

#gnb a:hover {
  color: #ed6a5e;
}

#gnb li {
  padding-right: 20px;
}

#hd h1 img {
  width: 100%;
}

.open .fa-xmark {
  display: block;
}

.open .fa-bars-staggered {
  display: none;
}

.fa-xmark {
  display: none;
}

.fa-bars-staggered {
  display: block;
}

.open + #gnb {
  display: flex !important;
  position: fixed;
  background-color: #bfb8be;
  left: 10%;
  right: 10%;
  top: 81px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  padding: 30px;
  border-radius: 30px;
  border: 5px solid #222;
}

#gnb a.act {
  color: #ed6a5e;
}

@media (min-width: 1280px) {
  #main > div {
    height: 100vh;
  }
}

/* #portfolio */

#portfolio {
  position: relative;
}

/* aboutme */

#portfolio .aboutMe {
  width: 80%;
  height: 28rem;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  background-color: #feee01;
  position: relative;
  margin-top: 7%;
}

#portfolio .imgBox img {
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
}

#portfolio .imgBox .port_img2 {
  opacity: 0;
}

#portfolio .imgBox:hover .port_img1 {
  opacity: 0;
}

#portfolio .imgBox:hover .port_img2 {
  opacity: 1;
}

@-webkit-keyframes pointBox {
  0% {
    left: 33%;
    top: 75%;
  }

  50% {
    left: 55%;
    top: 75%;
  }

  to {
    left: 33%;
    top: 75%;
  }
}

#portfolio .pointBox {
  transform: rotate(-15deg);
  font-size: 2rem;
  position: relative;
  animation-name: pointBox;
  animation-delay: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#portfolio .point {
  color: white;
}

#portfolio .mt-1 {
  font-size: 2rem;
}

/* mySkill */

#portfolio .mySkill {
  width: 40%;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  background-color: #ae20fe;
  transition: 2s;
  margin-top: -8%;
  position: relative;
  z-index: 2;
}

#portfolio .mySkill:hover {
  margin-left: 20%;
}

#portfolio .mySkill dl {
  margin-bottom: 1rem;
}

/* my Activity */

#portfolio .myActivity {
  position: relative;
  width: 30%;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 0;
  background-color: #ff6845;
  margin-top: -18%;
  margin-left: 70%;
  cursor: pointer;
}

#portfolio .myActivity:hover {
  z-index: 4;
}

#portfolio .swiper-slide {
  max-height: 700px;
  /*데스크탑 이미지 실제높이*/
  height: 100vw;
  /*화면너비만큼 높이 준다*/
}

#portfolio .sir {
  background-color: orange;
}

#portfolio .miniImg {
  position: absolute;
  left: 0;
  top: 15%;
  z-index: 5;
}

#portfolio .miniMent {
  color: white;
  font-family: "coreLight";
  transform: translateX(-116%);
  font-size: 1rem;
  cursor: pointer;
}

#portfolio .tooth {
  position: absolute;
  left: 10%;
  bottom: 35%;
  z-index: 0;
}

#portfolio .tooth img {
  width: 50%;
}

@-webkit-keyframes miniMent {
  0% {
    color: white;
  }

  50% {
    color: black;
  }

  to {
    color: white;
  }
}

#portfolio .miniMent {
  animation-name: miniMent;
  animation-delay: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* me,포트폴리오 구간 */

#me {
  position: relative;
}

#me h2 {
  background-color: white;
  transition: 0.5s;
  color: black;
  transition-delay: 1s;
}

#me .portColor {
  background-color: #6d48e5;
}

#me .port {
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 10%;
  position: absolute;
  width: 20vw;
  height: 50vh;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  background-color: #ffbf34;
}

#me i {
  font-size: 1.5rem;
}

#me .subUl li {
  font-size: 1rem;
  font-family: "coreRegular";
}

#me .swiper {
  width: 100%;
  height: 100%;
}

#me .mySwiper {
  position: relative;
}

#me .mySwiper .swiper-pagination {
  position: absolute;
  top: 10%;
  right: 0;
  width: auto;
  left: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#me .mySwiper .swiper-pagination-bullet {
  width: 8rem;
  height: 6rem;
  background-image: url("/portfolio/img/folder.png");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  position: relative;
}

#me .mySwiper .swiper-pagination-bullet-active {
  background-color: transparent;
}

#me .mySwiper .swiper-pagination-bullet:nth-child(1):after {
  content: "그누보드";
  display: block;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 1.2rem;
}

#me .mySwiper .swiper-pagination-bullet:nth-child(2):after {
  content: "ECOMMERCE";
  display: block;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 1.2rem;
}

#me .mySwiper .swiper-pagination-bullet:nth-child(3):after {
  content: "포트폴리오";
  display: block;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 1.2rem;
}

#me .mySwiper .swiper-pagination-bullet:nth-child(4):after {
  content: "DAT-DAT";
  display: block;
  position: absolute;
  top: 100%;
  left: 20%;
  font-size: 1.2rem;
}

#me .popBox1 {
  width: 55%;
  position: relative;
}

#me .popBox2 {
  width: 55%;
}

#me .popBox1 > ul {
  padding: 0 8%;
}

#me .portName {
  width: 22vw;
}

#me .portName2 {
  width: 18vw;
}

#me .portBtn {
  display: block;
  width: 6rem;
  height: 3rem;
  background-color: #ffc107;
  border: 2px solid #222;
  border-radius: 10px;
}

#me .portBtn a {
  font-size: 1rem;
  color: black;
}

#me .portBtn:hover {
  box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

#me .portBtn:hover > a {
  color: white;
}

#me .portSubject {
  width: 6.5rem;
  height: 2rem;
  background-color: #222;
}

#me .portSubject strong {
  font-size: 1.2rem;
  color: white;
}

#me .subspan {
  color: white;
  background-color: #ed6a5e;
}

/* name card */

#card {
  background: #fff;
  height: auto;
  margin: 3% auto;
  padding: 20px 30px;
  border: 1px solid white;
  text-align: center;
}

#card h1 {
  color: #dc152c;
  font-weight: normal;
  font-size: 48px;
  margin: 0 0 10px 0;
  font-family: "LeBlack";
}

#card h1::first-letter {
  color: #194ff7;
}

#card h1 b {
  color: #f1840b;
  font-weight: normal;
}

#card h1 b + b {
  color: #194ff7;
}

#card h1 b + b + b {
  color: #00940e;
}

#card h1 b + b + b + b {
  color: #f1840b;
}

#card h1 b + b + b + b + b {
  color: #00940e;
}

.cardBox {
  text-align: left;
}

.cardBox ul {
  padding: 0;
  margin: 0;
  font: 16px Arial;
}

.cardBox ul li {
  list-style: none;
}

.cardBox ul li a {
  color: #12c;
}

.cardBox ul li span {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

.cardBox ul li span:nth-child(2) {
  margin-bottom: 10px;
}

.cardBox ul li span:nth-child(2) a {
  color: #093;
  text-decoration: none;
}

.cardBox ul li span:nth-child(3),
.cardBox ul li span:nth-child(4) {
  font-size: 14px;
}

.cardBox .text {
  border: 1px solid #7ec6fd;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.cardBox .text h2 {
  position: relative;
  float: left;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  margin: 5px 10px;
}

#card .textLine {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background: white;
  animation: typing1 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

/* Typing keyframes */
@-webkit-keyframes typing {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@-moz-keyframes typing {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@-o-keyframes typing {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

/* footer */

#ft {
  height: 20vh;
  background-color: #babebf;
}

#ft div {
  font-size: 2rem;
  font-family: "LeBlack";
}

/* 미디어쿼리  */
@media (max-width: 1280px) {
  #me .swiper,
  #me .swiper-wrapper {
    height: auto;
    flex-direction: column;
  }

  #me .pop {
    position: unset;
  }
}

@media (max-width: 800px) {
  #hd {
    top: 0;
  }

  .open + #gnb {
    top: 55px;
  }

  #me .pop {
    width: 90%;
    font-size: 1rem;
    margin: 1rem auto;
    height: auto;
  }

  #me .popBox1 {
    border: 0;
    padding: 0;
    width: unset;
  }

  #me .popBox2 {
    width: unset;
  }

  #me .portName {
    width: 90%;
    margin-bottom: 1rem;
  }

  #me .portName2 {
    width: 80%;
    margin-bottom: 1rem;
  }

  .skFull,
  .skEmpty {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

  #portfolio .aboutMe {
    width: 90%;
    margin-top: 20%;
    font-size: 1rem;
    height: auto;
  }

  #portfolio .mySkill {
    width: 90%;
    height: auto;
    font-size: 1rem;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: 1rem auto;
  }

  #portfolio .mySkill:hover {
    margin-left: auto;
  }

  #portfolio .mySkill:hover {
    left: 0;
  }

  #portfolio .myActivity {
    margin: 0 auto;
    font-size: 1rem;
    width: 90%;
    height: auto;
  }
}

@media (max-width: 800px) {
  #readyBox {
    top: 0;
  }

  #readyBox .look {
    width: 100%;
    height: 100vh;
  }

  #readyBox .tyPing {
    width: 34ch;
    border-right: 2px solid;
    font-size: 1rem;
  }

  #card h1 {
    font-size: 2rem;
  }

  #portfolio .mt-1 {
    font-size: 1.2rem;
  }

  .ddBox dd {
    text-decoration: underline;
  }
}
