body{overflow-x: hidden;}




/* 배경 */


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none∂;
}
a:hover{text-decoration: none;}


body{
  font-family: 'NeoDunggeunmo';
  /* font-family: 'HBIOS-SYS'; */
  color: #0d0d0d;
  font-size: 1.3rem;

}

li{
  list-style: none;
}


#allMenu{
  border:transparent;
  background-color: transparent;
  font-size: 2rem;
}


/* 퀵 토글 */
 #quick {
   position: fixed;
   line-height: 60px;
   right: 20px;
   bottom: 20px;
   border-radius: 30px;
   text-align: center;
   overflow: hidden;
   transition:0.6s;
   z-index: 10;
 }
 #quick a i{
  font-size: 3rem;color:black;
}

 #quick.on {
  height: 310px;
  display: flex;
  flex-direction: column-reverse;
  transition: .5s;
}


.open > .xi-folder-add-o{display: none;}
.open > .xi-folder-remove-o{display: block;}

.xi-folder-remove-o{display:none}
.xi-folder-add-o{display:block}



#quick.on a i{}

 #quick>a {
   display: block;
 }

 #quick ul {
   position: absolute;
   bottom: 15px; left: 0; right: 0;
 }
/* .show{translate: 1s;} */

/* common */
.fontcore{font-family: 'coreRegular';}





 /* 스크롤 시 헤더숨기기 */
  #hd {
    position: fixed;
    left: 0;
    right: 0;
    /* top: 3%; */
    top:2%;
    z-index: 1000;
    transition: 0.5s;
    border: 5px solid #222;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    line-height: 3;
  }

   #hd.up {
     transform: translateY(-150%);
   }

  
#hd h1 a{color:black;}


#gnb a{
  display: block;
  color:black;
  text-decoration: none;

}

#gnb a:hover{color:#ed6a5e}
#gnb li{
  padding-right:20px;
}

#hd > div{
  /* border-bottom: 1px solid #555; */
}

#hd h1 img{width:100%;}
.open .fa-xmark{display: block;}
.open .fa-bars-staggered{display: none;}

.fa-xmark{display:none;}
.fa-bars-staggered{display:block;}

/* .open + #gnb{display:flex !important;
position:fixed;background-color: #ccc;
left:0;right:0;top:80px;
flex-direction: column;
justify-content: center;
align-items: center;
line-height:2;
padding:30px;} */


.open + #gnb {
  display: flex !important;
  position: fixed;
  background-color: #bfb8be;
  left: 10%;
  right: 10%;
  top: 81px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  padding: 30px;
  border-radius: 30px;
  border: 5px solid #222;

}


#gnb a.act {color: #ed6a5e }

@media (min-width:1280px){
  #main > div{height: 100vh;}
}








#portfolio {position:relative;}
/* .imgBox{position:relative;margin-left:30%;} */
.imgBox img{
  transition: opacity .5s ease-in-out;
  cursor: pointer;
  position:absolute;
  left:0;right:0; 
}
.imgBox .port_img2{opacity: 0;}
.imgBox:hover .port_img1{opacity: 0;}
.imgBox:hover .port_img2{opacity: 1;}

.skill_per{
  background-color: red;
  width:50%;
  height:15px;
  transform: width 1.5s;
}


@-webkit-keyframes pointBox{
  0%{
    /* left: 24%; */
    left:33%;
    top: 75%;
    
  }
  50%{
    /* left: 33%; */
    left:55%;
    top: 75%;
  }
  to{
    /* left: 24%; */
    left:33%;
    top: 75%;
    
  }
}





.pointBox{
    transform: rotate(-15deg);
    font-size: 2rem;
    position: relative;



    animation-name: pointBox;
    animation-delay: 0;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

  animation-timing-function: linear;
}
.point{color:white;}

.aboutMe{
  
  width:80%; 
  /* height:50vh; */
  height:28rem;
  border:5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  background-color: #feee01;
  position:relative;
  /* margin-top:10%; */
  margin-top:7%;
}

.span{text-align: start;}
.aboutColor{
  background-color: #f07ef2;
}
.skillColor{
  background-color: #75dafe;
}
.popColor{background-color: #3d90d9;}
.activityColor{background-color: #227337;}
.lookColor{background-color: #babebf;}

.popborder {
  border-bottom: 5px solid #222;
   border-radius: 14px 14px 0 0;
   padding-top:0.5rem
}
.span span{
  display: block;
  width:0.8rem;
  height:0.8rem;
  border: 1px solid transparent;
  margin-left: 0.5rem;
  border-radius: 50%;
}
.span span:nth-child(1){
  background-color: #ed6a5e;
  margin-left: 1rem;
}
.span span:nth-child(2){
  background-color: #f4bf4f;
}
.span span:nth-child(3){
  background-color: #62c654;
}

/* mySkill */
.mySkill{
  width:40%;
  /* height:40vh; */
  /* height:17rem; */
  border : 5px solid #222;
  text-align: center;
  border-radius: 20px;
  background-color: #ae20fe;
  transition: 2s;
  margin-top: -8%;
  position:relative;
  z-index: 2;
}
.mySkill:hover{
  margin-left:20%;
}
.mySkill dl{margin-bottom: 1rem;}
/* my Activity */
.myActivity {
  position:relative;
   width: 30%;
  height: 40vh;
  /* height:18rem; */
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 0;
  background-color: #ff6845;
  margin-top:-25%;margin-left:70%;
  cursor: pointer;
  
}

.skFull{
  display: block;
  width:3rem;
  height:1rem;
  background-color:#ffbf34;
  margin-right:0.5rem;
}
.skEmpty{
  display: block;
  width:3rem;
  height:1rem;
  border:1px solid #ffbf34;
  margin-right:0.5rem;
}

.myActivity:hover {
  z-index: 4;
}
#preinterview{position:relative}
.look{

  margin:auto;
 
  width: 70%;
  height: 80vh;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  background-color: #f2a2c8 ;
}


#portfolio .swiper-slide{
  max-height:700px; /*데스크탑 이미지 실제높이*/
  height:100vw; /*화면너비만큼 높이 준다*/
}

#portfolio .sir{background-color:orange;}
.gosim{
  position: absolute;
  left:10%;
  bottom:28%;
  width:100%;
  z-index: 0;
}
/*무임승차 : 최적화*/

/* me */

#me{position:relative}
#me h2{
  background-color: white;
transition:.5s;
color:black;
transition-delay: 1s;}

.aos-animate h2{
  background-color: red !important;
  color:white !important;
}
.portColor{background-color: #6d48e5;}

.port {
  top: 0;bottom:0;margin:auto 0;
  left: 10%;
  position: absolute;
  width: 20vw;
  height: 50vh;
  border: 5px solid #222;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  background-color: #ffbf34;
}
.secret{ top: 30%;bottom:0;
  left: 15%;
  position: absolute;}
.pop{
  position:absolute;
  width:50vw; 
  /* height:450px; */
  height:33rem;
  border:5px solid #222;
  border-radius: 20px;
  background-color: #eae6d6;
  top:0;bottom:0;margin:auto 0;
  right:10%;
}

.popColor2{background-color: #f2059f;}

.popColor4{background-color: #f24405;}
.popColor3{background-color: #c7f229;}

input[type=checkbox]{display: none;}
.labelBtn{
  font-size: 1.2rem; cursor: pointer;}

#me label{font-size: 1.5rem;}
#me .subUl li{font-size: 1rem; font-family: 'coreRegular';}
#me .subUl i{font-size: 2rem;}
.popLeft input + label + ul{ display: none;}
.popLeft input:checked + label + ul{ display: block;}


.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper{position:relative;}

.mySwiper .swiper-pagination {
  position: absolute;
  top: 10%;
  right: 0;
  width: auto;
  left: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.mySwiper .swiper-pagination-bullet{
  width:8rem;height:6rem;
  background-image: url("/portfolio/img/folder.png");
  background-size: cover;
  background-position: center;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  position:relative;
} 
.mySwiper .swiper-pagination-bullet-active{
  background-color:transparent;
}



.mySwiper .swiper-pagination-bullet:nth-child(1):after{
  content:"그누보드";
  display: block;
  position:absolute;
  top:100%;left:20%;
  font-size: 1.2rem;

}
.mySwiper .swiper-pagination-bullet:nth-child(2):after{
  content:"ECOMMERCE";
  display: block;
  position:absolute;
  top:100%;left:20%;
  font-size: 1.2rem;

}
.mySwiper .swiper-pagination-bullet:nth-child(3):after{
  content:"포트폴리오";
  display: block;
  position:absolute;
  top:100%;left:20%;
  font-size: 1.2rem;

}
.mySwiper .swiper-pagination-bullet:nth-child(4):after{
  content:"준비 중";
  display: block;
  position:absolute;
  top:100%;left:20%;
  font-size: 1.2rem;

}

.popBox1{
  /* border-right:1px solid #222; */
  /* padding-bottom:28%; */
  width:45%;
  position:relative;
}
  /* .popBox1:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 144%;
    background-color: #222;
    top: 0;
    right: 0;

  } */


.popBox2{
  width:55%;
}

.popBox1 > ul{padding:0 8%;}

.portName{width:22vw; }
.portName2{width:18vw}

.portBtn{
  display: block;
  width:6rem;height:3rem;
  background-color: #ffc107;
  border: 2px solid #222;
  border-radius: 10px;
}
.portBtn a{
  font-size: 1rem;
  color:black;}



.portBtn:hover{
  box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}
.portBtn:hover >a{color:white}

#me .portSubject{
  width:6.5rem;height:2rem;
  background-color: #222;
}
#me .portSubject strong{
  font-size: 1.2rem;
  color:white;
}

#me .subspan{color:white;background-color: #ed6a5e;}

@media (max-width:800px) {
  #hd{top:0;}

  .open + #gnb{top:55px;}
  #me .pop{width:90%;
    font-size: 1rem;
    margin:1rem auto;
    height:auto;

  }
 #me .popBox{

 }
 #me .popBox1{
  border: 0;padding: 0; width: unset;
 }
 #me .popBox2{
  width:unset;
 }
#me .portName {
  width: 90%;
  margin-bottom: 1rem;
}
#me .portName2{width:80%; margin-bottom:1rem}


.skFull,.skEmpty{width:1rem;height:1rem;border-radius: 50%;}
.skEmpty{}
  
}





/* hobby */
.hobby{}

.hobbyUl li{position: absolute;}
#preinterview .hobbyLi1{
  top:0;left:30%
}
#preinterview .hobbyLi2{
  bottom:0;right:0;
}
#preinterview .hobbyLi3{
  top:0;left:50%
}
#preinterview .hobbyLi4{
  bottom:0;left:0;
}
#preinterview .hobbyLi5{
  top:50%;right:0;
}








/* footer */
#ft{
 height:20vh;
  background-color: #babebf;
  
}









/* 배경 */
/* body{
  background-color:#f2d5d5;
  background-image: linear-gradient(#fff3 1px, transparent 0px),
  linear-gradient(90deg, #fff3 1px, transparent 1px),
  linear-gradient(rgba(255, 255, 255, .5) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, .5) 1px, transparent 1px);
  background-size: 40px 40px,
  40px 40px,
  40px 40px,
  40px 40px;
  background-position:-2px -2px,
  -2px -2px,
  -1px -1px,
  -1px -1px;

  
}
 */
body{
  background-image: url('/portfolio/img/bg3.png');
  /* background-image: url('/portfolio//img/likeboom2.png'); */
  background-repeat: repeat;
  background-size: 40%;
  /* background-size: 10%; */

  background-color:rgba(246,222,222,0.8);
 
 
}

/* html,body {
  cursor: url('/portfolio/img/cursor.cur'), auto;
} */



@media (max-width: 800px) {
  .aboutMe{
    width:90%;margin-top:20%;
    font-size:1rem;
    height:auto;  
  }
    .mySkill{
      width:90%; 
      height:auto;
      font-size: 1rem;
      bottom:20%;left:0;right:0;
      margin:1rem auto;
      

    }
    .mySkill:hover{
      margin-left:auto;
    }
    .mySkill:hover{
      left:0;
      }
    .myActivity{
      margin:0 auto;
      font-size: 1rem;
      width:90%;
      height:auto;
    }
 
  }



  /* 연습 */
  
 body.ofy{overflow-y: hidden;}

  #preinterview1{
    position:relative;
    z-index: 200000;
    top:1rem;height:100vh;
    display: none;
   
   
  }
  #preinterview1 .hobbyImg{cursor: pointer;}
  #preinterview1 .look{
    width:90vw;height:90vh;
    background-image: url('/portfolio/img/macback2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 50%; */
    background-color: #dec1de;
  }
  #preinterview1.wow{ display: block; }
  #preinterview1 .myName{
    margin:1rem 0;
    color:white;
    font-size: 1.2rem;
    font-family: 'coreMedium';
  }
  #preinterview1 .clickAni{  
    width:5rem;
    margin:0 auto;
    cursor: pointer;
    animation-name: baby;
    animation-delay: 0;
    animation-duration:1s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
  }

  @-webkit-keyframes baby{
    0%{
      background-color: red;
    color:white;
    }
    50%{
      background-color: white;
      color:red;
    }
    to{
      background-color: red;
      color:white; 
    }
  }

  #preinterview1 .typing{
    width: 45ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2rem;
  
  }


  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }



  
  @media (max-width:1280px) {
    #me .swiper, 
    #me .swiper-wrapper{ height:auto; flex-direction: column;}
    #me .pop{ position: unset; }
    
    
  }


  @media (max-width:800px){

  
    #preinterview1{top:0;}
    #preinterview1 .look{
      width:100%;height:100vh;
    }
    

      #preinterview1 .typing{
    width: 34ch;
    border-right: 2px solid;
    font-size: 1rem;
  
  }

    
    }
    

    #preinterview .Hope1{
      height:80vh;
      border:2px solid;

    }
    #preinterview .Hope2{
      height:15vh;
      border:2px solid;
      
    }
    #preinterview .HopeBox{}
    #preinterview .HopeBox .hb1{
      height:30vh;
      border:2px solid;
    }
    #preinterview .HopeBox .hb2{
      height:30vh;
      border:2px solid;
    }
    #preinterview .Hope3{
      height:15vh;
      border:2px solid;
    }